/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    background-color: #f3dd9a;
    color: #3d3d37;
    padding: 20px 0;
}

.container {
    width: 90%;
    margin: auto;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
}

.nav-menu {
    list-style: none;
}

.nav-menu li {
    display: inline;
    margin-right: 20px;
}

.nav-link {
    color: #3d3d37;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #fff7ca;
}

.active {
    font-weight: bold;
}

/* Projects Section */
.projects {
    padding: 50px 0;
    background-color: #f4f4f4;
}

.project-item {
    background-color: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
    border-radius: 5px;
}

.project-item:hover {
    transform: translateY(-10px);
}

.project-item img {
    width: 100%;
    height: auto;
}

.project-info {
    padding: 20px;
}

.project-title {
    margin-bottom: 10px;
}

/* Footer */
.footer {
    background-color: #1b1b1b;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
