{{page-title "About"}}
<div class = "about-section">
    <h1> A propos de moi </h1>
    <p>
        Je suis Jade Louisfert, lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nihil officia minus alias eveniet maiores nisi numquam ab quas totam cumque quasi hic fuga ut beatae harum, repudiandae architecto fugit.
    </p>
</div>
{{outlet}}