{{page-title "Jadelouisfert"}}
<header>
    <nav>
        <ul class = "nav-bar">
            <li>
                {{#link-to 'about'}}A propos{{/link-to}}
            </li>
        </ul>
    </nav>
</header>
<main>
{{outlet}}
</main>
